<%- include('./partials/header') %>
<main>
<h1>Index Page</h1>
<ul>
 <% house.forEach(home => { %>
    <li><%= home.name %>, is located at <%= home.location %>. 
    It has <%= home.bedroom %> bedrooms</li>
<% }) %>
</ul>
<a href="/houses/new">Edit Home</a>
</main>



<%- include('./partials/footer') %>