<%- include('./partials/header') %>
<main>
<h1>Show Page</h1>
<p>The <%=house.name%> is in <%= house.locaion %>
, has <%= house.beds %> bedrooms, and a square feet of <%= house.sqrt %> </p>
<a href="/houses/<%= house._id %>/edit">Edit this Home</a>
<form action="/houses/<%= house._id %>?_method=DELETE" method="POST">
    <button> Delete this House</button>
</form>
</main>
<%- include('./partials/footer') %>