<%- include('./partials/header') %>
<main>
<h1>Show Page</h1>
<p>The <%=house.name%> is in <%= house.locaion %>
, has <%= house.beds %> bedrooms, and a square feet of <%= house.sqrt %> </p>

</main>
<%- include('./partials/footer') %>